.timeline {
}

.text {
  text-align: left;
  color: white;
}
.institute {
  color: #fee715ff;
  font-weight: bold;
  font-size: larger;
}

.vertical-timeline:before {
  content: '';
  position: absolute;
  top: auto !important;
  left: 18px;
  height: 90% !important;
  width: 4px;
  background: #fff;
}
